# Python cache
__pycache__/
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/
.history/

# Testing Car Image
test_car.jpg
test_car1.jpg
test_car2.jpg

# fallback directory
outbox/

# Temporary files
*.tmp   
tmp/

# Logs
*.log